body{
  box-sizing: border-box;
    animation: chnagebg 10s linear infinite;
    transition: 3s;
}

@keyframes chnagebg {
    0%{
background: #e6e0e0;
    }
      20%{
      background-color: #cfd6ce;  
    }
    40%{
       background-color: #deede9; 
    }
    60%{
        background-color: #c8d6dc;
    }
    80%{
        background-color: #f7f5e1;
    }
    100%{
        background-color: #f9e1f5;
    }
}